@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: block;
}

div {
    display: block;
}

div#imagem {
    text-align: center;
    margin: 150px auto;
    padding: 15px;
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

img {
    width: 100%;
    border-radius: 10px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin: 25px 0;
    font-weight: 800;
    padding: 10px;
}

div#texto {
    margin-bottom: 25px;
    text-align: center;
}

p {
    font-size: 14px;
    color: hsl(220, 15%, 55%);
    line-height: 1.3;
}

div#imagem #texto > p {
    text-align: center;
    margin: 150 auto;
    padding: 10px;
    width: 280px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}
    

div#footer > p {
    color: black;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: 14px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: hsl(220, 15%, 55%);
}